<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medina.daniel.ubicarmec_taller2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Register"
            android:label="Registro"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Solicitudes"
            android:label="@string/title_activity_solicitudes"
            android:theme="@style/AppTheme.NoActionBar"

            />
        <activity
            android:name=".MisTrabajos"
            android:label="Mis Trabajos" />
        <activity
            android:name=".Promociones"
            android:label="Promociones" />
        <activity
            android:name=".ReportarP"
            android:label="Reportar Problema" />
        <activity
            android:name=".Legal"
            android:label="Legal" />
        <activity
            android:name=".Tutorial"
            android:label="Tutorial" />
        <activity
            android:name=".Perfil"
            android:label="Perfil"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".Manuales"
            android:label="Manuales" />
        <activity
            android:name=".NuevaSolicitud"
            android:label="Nueva Solicitud" />
        <activity android:name=".Trabajo_pasado" android:label="Trabajo Pasado"/>

        <activity
            android:name=".Trabajo_actual"
            android:label="Trabajo Actual"
            android:windowSoftInputMode="stateHidden">
        </activity>

    </application>

</manifest>